body{
    margin: 0;
    padding: 0;
    background-color: #F0F8FF   ;
   }
   .navegacion{
    background-color: #0097a7; 
    padding: 1px; margin: 20px 0; 
    text-align: center; 
    flex-direction: column; 
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
    
   }
   .navegacion a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
   }

   .imagenes a{
    text-decoration: none;
    color: #000000;
   }

   a:hover{
    background-color:#ffc107;
    color: black;
   }
   .panel{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
   }
   .panel .paneldos{
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        text-align: center;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagenes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    footer{
        text-align: center;
        font-weight: bold;
        font-size: large;
    }